<ul class="users-target-list">
	<li class="user-target-item" ng-class="{activeTarget: user.status == 1, noActiveTarget: user.status != 1}" layout ng-repeat="user in targetUsers">
		<div class="itm-column first-column" flex="45">
			<span nd-disabled="!withAminPriviledges" ng-class="{'cursor-not-allowed': !withAminPriviledges}" class="icon-model icon-edit-pencil edit-button no-border-no-outline" ng-click="adminDialogShow($event, 'edit', user)"></span>
			<span class="data-span">
				{{user.userName}}
			</span>
		</div>
		<div class="itm-column second-column" flex="25">
			<span class="data-icon-wrapper">
				<span class="icon-model icon-phone"></span>
			</span>
			<span class="data-span">
				{{user.cellPhoneNumber}}
			</span>
		</div>
		<div class="itm-column third-column" flex="30">
			<span class="data-icon-wrapper">
				<span class="icon-model icon-people"></span>
			</span>
			<span class="data-span">
				{{(user.haveLeader) ? user.leaderName : user.cveEmail}}
			</span>
		</div>
	</li>
	<li class="user-target-item only-when-no-body">
      No encontramos a nadie bajo ese criterio
    </li>
</ul>