<div class="contentLeftLocation" ng-init="initFunc()">
    <md-sidenav class="md-sidenav-left integradores-left-side" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">


        <div id="wrapper-select-state-pocs"  md-whiteframe="2" layout="row" >
            <div flex="100" class="select-state">
                <md-select ng-model="fsSelectedOption.name" placeholder="Estados" ng-change="onChangeFirstSelect()" aria-label="state-select">
                    <md-option ng-repeat="itmTarget in targetsFirstSelect" ng-value="itmTarget.name" >
                        {{itmTarget.name}}
                    </md-option>
                </md-select>
            </div>
        </div>
        
        <div id="wrapper-info-poc"  md-whiteframe="2" class="fullHeight" layout="column">
            <div class="integradores-pocs-select-wrapper" layout>
                <md-select ng-model="ssSelectedOption.pocId" flex placeholder="POCs" aria-label="poc-select" class="md-no-underline">
                    <md-option ng-repeat="itmTargetSec in targetsSecondSelect" ng-value="itmTargetSec.id" ng-click="onChangeSecondSelect(itmTargetSec.id, itmTargetSec)" ng-keyup="onChangeSecondSelect(itmTargetSec.id, itmTargetSec)">
                        {{itmTargetSec.name}}
                    </md-option>
                </md-select>
            </div>

            <div class="padding-wrapper poc-members-wrapper" layout="column" ng-if="pocAvailable">
                <p class="target-users-to-see-control-title">
                    Selecciona el criterio para filtrar:
                </p>
                <md-radio-group ng-model="visibleUsers">

                    <md-radio-button value="moreInt" class="md-primary no-border-no-outline" ng-click="whichUsers('moreInt')" ng-keyup="whichUsers('moreInt')">
                        Más integraciones
                    </md-radio-button>
                    <md-radio-button value="moreAssigned" class="md-primary no-border-no-outline" ng-click="whichUsers('moreAssigned')" ng-keyup="whichUsers('moreAssigned')">
                        Más asignadas
                    </md-radio-button>
                    <md-radio-button value="moreWithoutDone" class="md-primary no-border-no-outline" ng-click="whichUsers('moreWithoutDone')" ng-keyup="whichUsers('moreWithoutDone')">
                        Más pendientes
                    </md-radio-button>
                    <md-radio-button value="lessInt" class="md-primary no-border-no-outline" ng-click="whichUsers('lessInt')" ng-keyup="whichUsers('lessInt')">
                        Menos integraciones
                    </md-radio-button>
                    <md-radio-button value="lessAssigned" class="md-primary no-border-no-outline" ng-click="whichUsers('lessAssigned')" ng-keyup="whichUsers('lessAssigned')">
                        Menos asignadas
                    </md-radio-button>
                    <md-radio-button value="lessWithoutDone" class="md-primary no-border-no-outline" ng-click="whichUsers('lessWithoutDone')" ng-keyup="whichUsers('lessWithoutDone')">
                        Menos pendientes
                    </md-radio-button>

                </md-radio-group>
            </div>
        </div>

    </md-sidenav>
</div>